// -------------------------
//  BASE IMPORT
//--------------------------
@import "../base/all";

// -------------------------
//  COMPONENTS IMPORT
//--------------------------
@import "../components/texts";
@import "../components/titles";
@import "../components/button";
@import "../components/button2";
@import "../components/select";
@import "../components/card";
@import "../components/loadbar";

// -------------------------
//  PAGE STYLES
//--------------------------

.maincontent {
  position: relative;
}

.sidebar {
  width: 400px;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  padding: 51px 37px 37px 45px;
  background-color: $primary-color;
  &-imgcontainer {
    width: 259px;
    height: 261px;
    margin-bottom: 27px;
  }
  &-followers {
    display: flex;
    margin-top: 17px;
    margin-bottom: 19px;

    p:first-child {
      margin-right: 35px;
    }
  }
  &-buttonarea {
    position: absolute;
    left: 45px;
    bottom: 37px;
  }
}

.user-bio {
  max-height: 80px;
  overflow: hidden;
}

.user-avatar {
  width: 100%;
  @include border-radius(50%, 50%, 50%, 50%);
}

.repositories {
  background-color: $gray2;
  padding: 45px;
  margin-left: 400px;
}

.repositories-filter {
  text-align: right;
  margin-bottom: 65px;
}

.repositories-cardarea {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 45px;
}

@include breakpoint(tablet-max) {
  .sidebar {
    position: static;
    width: 100%;
    height: auto;
    padding: 31px 20px 26px 20px;
    &-imgcontainer {
      margin: 0 auto;
      width: 240px;
      height: 248px;
      margin-bottom: 21px;
    }
    &-buttonarea {
      position: static;
      display: flex;
      justify-content: center;
      margin: 13px auto 0;
    }
    &-followers {
      margin-top: 13px;
      margin-bottom: 14px;
    }
  }

  .repositories {
    margin-left: 0;
    padding: 20px;
  }

  .repositories-cardarea {
    flex-direction: column;
    align-items: center;
  }

  .repositories-filter {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 25px;
  }
}
