.button_01 {
  color: $primary-color;
  background-color: $white;
  padding: 15px;
  width: 309px;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 600;
  border: none;
  font-family: $primary-font;
  cursor: pointer;
  &:hover {
    color: $gray;
    text-decoration: underline;
  }
}

@include breakpoint(tablet-max) {
  .button_01 {
    padding: 12px;
    font-size: 13px;
    width: 250px;
  }
}
