.text {
  &-extrabigwhite {
    font-size: 22px;
    color: $white;
  }
  &-big {
    font-size: 20px;
    line-height: 26px;
    color: $darkgray;
  }
  &-medium {
    font-size: 18px;
    color: $black;
    .primarycolor {
      font-weight: 700;
      color: $primary-color;
    }
  }
  &-mediumwhite {
    font-size: 18px;
    color: $white;
  }
  &-small {
    font-size: 16px;
    color: $black;
    line-height: 24px;
  }
}

@include breakpoint(tablet-max) {
  .text {
    &-mediumwhite {
      font-size: 14px;
    }
    &-extrabigwhite {
      font-size: 18px;
    }
    &-medium {
      font-size: 15px;
    }
    &-small {
      font-size: 14px;
    }
  }
}
